// Placeholder to allow customizing styles.


.iconoUIBslide{
    background: url('https://logo.uib.cat/digitalAssets/338/338750_logo-uib-vertical-color72.png') center right no-repeat;
 	background-size:     contain; 
 	background-position: center center; 
  	width: 20px;
  	height: 20px;
  	display: inline-block;
  	margin-left: -3px;
}

